body {background-color: #F8F8F8}
/* 	.pagehead {background-color: #f04fcd} */

	
	.pagetitle {margin-left: 0; margin-top: 20px; height: 60px;}
	
	.content, .pagehead {margin-left: auto; margin-right: auto; width: 650px}

	.content {font-family: 'telexregular' 'Microsoft Yahei'}
	
	#myname {/* margin-top: 20px; */ font-family: 'telexregular' 'Electrolize'  'Helvetica Neue' 'Microsoft Yahei' verdana Georgia; font-size: 30px; float: left;}
	#motto {float: left; font-family: 'Hiragino Sans GB' "Microsoft Yahei";  margin-top: 5px; margin-left: 20px; color: #6c6c6c; font-size: 20px}


	a { text-decoration:none; color: black} 

	.topbar {margin-bottom: 50px}


	.navigator {font:15px verdana, arial, sans-serif;}
	.navigator li {list-style-type: none; padding: 0; margin-top: 0; margin-bottom: 15px}
	.navigator {padding: 0; margin:0}
	
	.navigator li {float: left}
	
	.navigator li a {
		display:block;
		margin-left: auto; 
		margin-right: auto; 
		padding:3px 50px;
/* 		background:rgba(215,63,63,0.88); */
		color:#f50b0b;
		text-decoration:none;
/* 		border-left :1px solid #eb0a0a; */
		}
	.navigator li a:hover {
		background:#146C9C;
		color:#fff;
		text-decoration:none;
/* 		border-right:1px solid #000; */
		}
		
	.navigator.li {width: 172px}
		
	.navigator li a.first {
		border-left:1px solid #eb0a0a;
	}
	
	.navigator li a.last {
		border-right: 1px solid #eb0a0a;
	}
	
	.clearfix {clear: both;}
		

	h3 {font-family: Arial sans-serif; margin-top:  50px}
	
		
	.clearfix: after {
		visibility: hidden;
		display: block;
		content: " ";
		clear: both;
/* 		height: 0;  */
	}
	.clearfix {
		zoom: 1
	}
